server/GrubBuddy.Api/GrubBuddy.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
server/GrubBuddy.Api/GrubBuddy/obj/Debug/netcoreapp1.1/GrubBuddy.csprojResolveAssemblyReference.cache
bin/
obj/
.vs/