// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.top-centered-col {
  text-align: center;
  margin-top: 10%;
}

.bottom {
  padding: $content-padding;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
}

.main-heading {
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 350;
  line-height: 26.4px;
  text-align: center;
  padding-bottom: 5px;
}

.large-icon {
  font-size: 60px;
}

#map {
  height:50%;
  width:100%;
  position:relative;
}

